{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="page-section bg-dark text-orange">

        <!-- <div class="card c" style="width: 8rem;">
                <img class="card-img-top" src="{{data.images }}"  alt="Card image cap">
                <div class="card-body">
                          <p class="card-text">{{data.name}}</p>
                          <p class="card-text">Grade: {{data.grade|upper}}</p>
                </div>
        </div> -->
        <!-- <div class="container-fluid main-cont">
                        <div class="row news-row">
                            <div class="container-fluid col-md-12 col-sm-6 justify-content-center news-block">
                                <div class="card-group">       
                                  <div class="underlay">
                                    <div class="card">
                                        <div class="card-img-top" style="background-image: url({{data.images }})"></div>
                                        <div class="card-block" >
                                        <h5 class="card-title" style="font-family: 'Anton', sans-serif">{{ data.name }}  <hr></h5>
                                        <p class="card-text" >Grade du produit: {{ data.grade|upper }}</u></a></p>
                                        </div>
                                    </div>
                                  </div>
                                  
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <main role="main">

                        <section class="jumbotron text-center">
                          <div class="container">
                            <h1 class="jumbotron-heading">Produit recherché</h1>
                            
                          </div>
                        </section>
                      
                        <div class="album py-5 bg-light">
                          <div class="container">
                      
                            <div class="row">
                                 
                              <div class="col-md-4">
                                <div class="card mb-4 shadow-sm">
                                  <img class="img-responsive"  width="80%" height="200" src="{{ data.images }}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>
                                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{data.name }}</text>
                                  <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center">

                                      <small class="text-muted">Grade: {{data.grade|upper }}</small>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              
                            </div>
                          </div>
                        </div>
                      
                      </main>
</section>
        <!-- <div class="container text-center">
                <h1>Liste des produits avec meilleurs grades nutritionnels</h1>
                <br>
        </div> -->
        <!-- <div class="row">
                        {% for value in best_product %}

                        <div class="col-xs-6 col-sm-4 col-md-4" >
                                        
                                <ul class="myBlock" style="list-style: none;" >
                                         
                                        <li class="element"><h3>{{ value.name }}</h3></li>
                                         
                                                        <img src="{{value.images }}" 
                                                        class="mx-auto d-block" alt="Responsive image" 
                                                        width="50" /> 
                                        
                                        <li id="aligne">
                                                <h5>grade: {{ value.grade|upper }}</h5>            
                                                <a href="{% url 'save_aliment' fav=value.pk prod=data.pk user=user.pk %}" >Sauvegarder</a>
                                        </li>
                                        
                                </ul>
                                
                        </div>
                        {% endfor %}
                

        </div> -->

       <!-- <div><img src='{% static "img/fond.jpg"%}' class="pixel-grid"/></div>
        <div><i id="toggle-grid" class="fa fa-th"></i></div>
        ----------------------->
        <!--======Push Menu======-->

        <!------------------------->
        <!--========Cards========
        <div class="container-fluid main-cont">
            <div class="row news-row">
                <div class="container-fluid col-md-12 col-sm-6 justify-content-center news-block">
                    <div class="card-group">
                        {% for value in best_product%}        
                      <div class="underlay">
                        <div class="card">
                            <div class="card-img-top" style="background-image: url({{value.images }})"></div>
                            <div class="card-block" >
                            <h5 class="card-title" style="font-family: 'Anton', sans-serif">{{ value.name }}  <hr></h5>
                            <p class="card-text" >Grade du produit: {{ value.grade|upper }}</u><a href="{% url 'save_aliment' fav=value.pk prod=data.pk user=user.pk %}" > Sauvegarder</a></p>
                            
                            </div>
                        </div>
                      </div>
                      {% endfor %}
                      
                    </div>
                </div>
            </div>
        </div>
        ---------------------->
        <!--=======Scripts======
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script name="toggle-grid" type="text/javascript">
        $(document).ready(function(){
          $(document).on("keypress", function(event) {
            // If 'alt + g' keys are pressed:
            if (event.which === 169){
                $('#toggle-grid').toggle();
             }
          });
        
          $('#toggle-grid').on("click"
          , function() {
              $('.pixel-grid').toggle();
              $('#toggle-grid').toggleClass('orange');
            });
        });
        </script>
        <script src="{% static 'js/script.js' %}"></script>
                
        </section>-->
        <main role="main">

            <section class="jumbotron text-center">
              <div class="container">
                <h1 class="jumbotron-heading">Produits de meilleur qualité nutritionnelle </h1>
                
                  <a href="#" class="btn btn-primary my-2">Action1</a>
                  <a href="#" class="btn btn-secondary my-2">Secondary action</a>
                  {% include "pagination.html" with liste=best_product view="resultats" %}
                
              </div>
            </section>
          
            <div class="album py-5 bg-light">
              <div class="container">
          
                <div class="row" >
                    {% for value in best_product%}   
                  <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                      <img class="bd-placeholder-img card-img-top"  width="100%" height="225" src="{{ value.images }}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{value.name }}</text></svg>
                      <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <a href="{% url 'save_aliment' fav=value.pk prod=data.pk user=user.pk %}" ><button type="button" class="btn btn-sm btn-outline-secondary">Sauvegarder</button></a>
                          </div>
                          <small class="text-muted">Grade: {{value.grade|upper }}</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          
          </main>
          <script src="{% static 'js/script.js' %}"></script>
          {% include "pagination.html" with liste=best_product view="resultats" %}
        </section>

{% endblock %}
