{% extends "base.html" %}
{% block content %}
<section class="page-section bg-dark text-orange">
                <div class="container text-center">
                    <h1>Détail du Produit</h1> 
                    <br>
                    <br>
                    <h2>  Les produits suivants ont été sauvegardés au favori de {{user}} </h2>
                    <br>
                    <br>
                    <br>
                                      
                        <!-- <ul class="myBlock col-xs-6 col-sm-4 col-md-4" style="list-style: none;" id='aligne'>
                                <li class="element"><h3>{{ favorite.product_favorite.name }}</h3></li>
                                        <figure class="figure"> 
                                        <img src="{{ favorite.product_favorite.images }} " width="50px">
                                        </figure> 
                                <li id="aligne">
                                        <h5>grade: {{ favorite.product_favorite.grade|upper }}</h5>            

                                </li>

                        </ul>
                        <ul class="myBlock col-xs-6 col-sm-4 col-md-4" style="list-style: none;" id='aligne'>
                                <li class="element"><h3>{{ favorite.product_choice.name }}</h3></li>
                                        <figure class="figure"> 
                                        <img src="{{ favorite.product_choice.images }} " width="50px">
                                        </figure> 
                                <li id="aligne">
                                                <h5>Grade: {{ favorite.product_choice.grade|upper }}</h5>            
                                </li>
                        </ul>

                </div>       -->
                <main role="main">

                                <section class="jumbotron text-center">
                                  <div class="container">
                                    <div class="section_title"><h2>Produit sélectionné par {{ user.username }}</h2></div>
                                  </div>
                              
                                <div class="album py-5 bg-light">
                                  <div class="container">
                              
                                    <div class="row">
                                         
                                      <div class="col-md-4">
                                        <div class="card mb-4 shadow-sm">
                                          <img class=""  width="80%" height="200" src="{{ favorite.product_choice.images  }}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{favorite.product_choice.name }}</text>
                                          <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center">
        
                                              <div class="section_subtitle">Grade: {{favorite.product_choice.grade |upper }}</div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="container">
                                                <div class="section_title">Produit favori </div>
                                                
                                              </div>
                                      <div class="col-md-4">
                                                <div class="card mb-4 shadow-sm">
                                                  <img class="bd-placeholder-img card-img-top"  width="80%" height="200" src="{{ favorite.product_favorite.images }}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>
                                                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{favorite.product_favorite.name }}</text></svg>
                                                  <div class="card-body">
                                                    <div class="d-flex justify-content-between align-items-center">
                
                                                      <div class="section_subtitle">Grade: {{favorite.product_favorite.grade|upper }}</div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                      </div>
                                      </section>
                                    </div>
                                  </div>
                                </div>
                              
                              </main>
</section>
{% endblock %}